**/.DS_Store
**/__pycache__
*.retry

venv/
.vscode/
.cache/
.coverage
.direnv/
**/*.egg-info
.eggs/
*.egg
.tox/
.pytest_cache/
*.pyc
.vagrant/
Vagrantfile.local
build/
cover_db/
dist/
fixtures/includes/myopt.cnf
htmlcov/
local/
src/sync.egg-info/
tmp/